<div class = "row">
  <div class="col-md-6">
    <h2>
      Products in Inventory
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/product">New</a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="product in products | orderBy:'department'" style="cursor:pointer">
        <td>
          <a ng-href="#/product/{{product._id}}">{{ product.description }} {{ product.department }}  id:{{ product._id }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p>
  <label>Search</label> 
  <input id="Search" class="form-control" type="text" ng-model="searchedItem" placeholder="Item ID" required> 
</p>
<!-- <button style="margin-top:20px" class="btn btn-default" ng-click="searchById(searchedItem)">Save</button> -->
<button style="margin-top:20px" class="btn btn-default" ng-click="searchById(searchedItem)">Save</button>

