<div class="row" ng-hide="product._id">
  <div class="col-md-6">
      <h2>Create new product</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>department (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.department" required> 
    </p>
    <p>
      <label>description (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.description" required> 
    </p>
    </p>
    <p>
      <label>itemType (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.itemType" required> 
    </p>
    </p>
    <p>
      <label>inventoryValue (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.inventoryValue" required> 
    </p>
    </p>
    <p>
      <label>currentPrice (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.currentPrice" required> 
    </p>
    <p>
      <label>currencyCode (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.currencyCode" required> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveProduct(product)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>